[submodule "Rally/vendor/GLFW"]
	path = Rally/vendor/GLFW
	url = https://github.com/babczyk/glfw
[submodule "Rally/vendor/spdlog"]
	path = Rally/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rally/vendor/imgui"]
	path = Rally/vendor/imgui
	url = https://github.com/babczyk/imgui.git
